@import url('https://fonts.googleapis.com/css?family=Caveat:700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

/*caveat*/

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext');

/*pixels*/

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

/*lobster*/

@import url('https://fonts.googleapis.com/css?family=Pangolin&display=swap');

/*pangolin*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Caveat', cursive;
    font-size: large;
}

.but1 {
    background: navy;
    color: white;
    top: 100px;
    margin-top: 100px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

#all {
    color: rgb(0, 0, 0);
}

#all.caveat_font {
    font-family: 'Caveat', cursive;
}

#all.pixels_font {
    font-family: 'Press Start 2P', cursive;
}

#all.lobster_font {
    font-family: 'Lobster', cursive;
}

#all.pangolin_font {
    font-family: 'Pangolin', cursive;
}

#setin {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    display: none;
}

#setin.hide {
    display: none;
}

#setin.hide {
    display: block;
}

.image {
    position: absolute;
    left: 480px;
}

#magasin {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    display: none;
}

#magasin.hide {
    display: none;
}

#magasin.nohide {
    display: block;
}

#fight {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    display: none;
}

#run_away_1.nohide {
    display: none;
}

#run_away_1.nonohide {
    display: block;
}

#take_reward {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#take_reward.nohide {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#take_reward.hide {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#first {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    display: block;
}

#first.nohide {
    display: none;
}

#bag1 {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: none;
}

#bag1.nohide {
    display: block;
}

#bag1.hide {
    display: none;
}

#home.nohide {
    display: block;
}

#home.hide {
    display: none;
}

#unwear_helmet {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

#unwear_helmet.nohide {
    display: block;
}

#about {
    padding: 0px;
}

#unwear_helmet.hide {
    display: none;
}

#unwear_armor {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

#unwear_armor.nohide {
    display: block;
}

#unwear_armor.hide {
    display: none;
}

#unwear_weapon {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

#unwear_weapon.nohide {
    display: block;
}

#unwear_weapon.hide {
    display: none;
}

#all_kust {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    display: none;
}

#all_kust.nohide {
    display: block;
}

#fis_dmg {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    display: none;
}

#fis_dmg.nohide {
    display: block;
}

#fis_dmg.hide {
    display: none;
}

#mag_dmg {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    display: none;
}

#mag_dmg.nohide {
    display: block;
}

#mag_dmg.hide {
    display: none;
}

#mor_dmg {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    display: none;
}

#mor_dmg.nohide {
    display: block;
}

#mor_dmg.hide {
    display: none;
}

#run_away_1 {
    position: absolute;
    display: block;
}

#ponal.nohide {
    display: none;
}

#ponal {
    position: absolute;
    display: block;
}

#fight.nohide {
    display: block;
}

#fight.hide {
    display: none;
}

.wrapper {
    background: white;
}

#pers {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    display: none;
}

#pers.nohide {
    display: block;
}

.wrappers {
    background: white;
}

#start.hide {
    display: none;
}

#start.hide {
    display: none;
}

#choose.nohide {
    display: block;
}

#choose.hide {
    display: none;
}

#choose {
    display: none;
}

#beginerdiv.nohide {
    display: block;
}

#beginerdiv.hide {
    display: none;
}

#beginerdiv {
    display: none;
}

#testersdiv.nohide {
    display: block;
}

#testersdiv.hide {
    display: none;
}

#testersdiv {
    display: none;
}